.playgroundWrapper{
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 10rem;

    & > .playgroundSection{
        width: 50rem;
        height: 40rem;

        & > .requestContainer{
            width: 100%;
            height: 100%;
            padding: 2rem 0.2rem 0.2rem;

            background: #000;

            display: flex;
            align-items: center;
            justify-content: center;

            & > .requestContent{
                outline: none;

                width: 100%;
                height: 100%;
                background: #fff;
                padding: 1rem;

                font-size: 1.6rem;

                &::placeholder{
                    color: #000;
                    opacity: 0.8;
                }
            }
        }

        & > .responseContainer{
            width: 100%;
            height: 100%;

            & > .responseContent{
                width: 100%;
                height: 100%;
                
                & > .responseDataContainer{
                    font-style: italic;
                    font-weight: thick;
                    font-size: 2rem;
                    color: #aaa;

                    width: 100%;
                    height: 100%;
                    
                    padding: 1rem 1rem 2rem;

                    background: rgba(0, 0, 0, 1);

                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: space-between;
                    
                    & > .responseDataContent{
                        font-style: normal;
                        color: rgba(255, 255, 255, 0.5);
                        
                        background: rgba(255, 255, 255, .15);
                        padding: 1rem 2rem;

                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        font-size: 1.6rem;

                        border-radius: 0 0 2rem 2rem;

                        & > .responseDataField{
                            & * {
                                color: #fff;
                            }
                            width: 100%;
                            display: flex;

                            & > div:first-of-type{
                                flex: 1;
                            }

                            & > div:last-of-type{
                                text-align: center;
                                width: 7rem;
                            }
                        }

                        
                    }
                }
            }
        }
    }
}