{
    "semi": true,
    "tabWidth": 4,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "printWidth": 120,
    "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
