go 1.24.2

use (
	./apps/auth
	./apps/task
	./apps/webhook
	./cli
	./libs/config
	./libs/fx
	./libs/grpc
	./libs/logger
	./libs/minio
	./libs/models
	./libs/nats
	./libs/server
	./libs/utils
	./migrations
)
