go 1.24.2

use (
	./apps/auth
	./apps/task
	./apps/webhook
	./cli
	./libs/config
	./libs/fx
	./libs/grpc
	./libs/jwt
	./libs/logger
	./libs/minio
	./libs/models
	./libs/nats
	./libs/server
	./libs/utils
	./migrations
)

// Pin google.golang.org/genproto and its googleapis submodules to a single newer version
replace (
	google.golang.org/genproto => google.golang.org/genproto v0.0.0-20250728155136-f173205681a0
	google.golang.org/genproto/googleapis/api => google.golang.org/genproto/googleapis/api v0.0.0-20250721164621-a45f3dfb1074
	google.golang.org/genproto/googleapis/rpc => google.golang.org/genproto/googleapis/rpc v0.0.0-20250728155136-f173205681a0
)
