.sidebarContainer{
    /* background: rgba(0, 0, 0, 0.01); */

    position: fixed;
    top: 30rem;

    width: 30rem;
    height: 45rem;

    padding: 1rem;

    & > .sidebarContent{
        /* background: rgba(0, 0, 0, 0.01); */

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & .sidebarTab{
            transition: background 0.5s, border-left 0.1s;
            cursor: pointer;

            height: 3rem;
            width: 100%;

            padding: 0.5rem 1rem;
          
            font-size: 1.6rem;
            font-family: 'Overpass';

            display: flex;
            align-items: center;

            &.sidebarTabSelected, &:hover{
                color: #fff;
                border-left: 2px solid #000;
                background: rgba(0, 0, 0, 0.75);
            }
        }

        & .sidebarListContainer{
            transition: all 0.2s ease-in-out;
            
            max-height: 3rem;
            overflow: hidden;
            position: relative;

            &::after{
                font-size: 1.6rem;
                position: absolute;
                content: '+';
                top: 0;
                right: 0;
                transform: translateY(20%);
            }

            &.opened{
                max-height: fit-content;

                &::after{
                    content: '—';
                }
            }

            & > .sidebarTab{

                border-bottom: 0.1rem solid #000;
            }

            & > .sidebarListContent{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                
                & > .sidebarTab{
                    padding: 0.5rem 7rem;
                    position: relative;
                    
                    &::before{
                        position: absolute;
                        content: '*';
                        top: 50%;
                        transform: translateY(-50%);
                        left: 1rem;
                    }
                }
            }
        }
    }
}

.docsContainer{
    margin: 0 13rem 0 34rem;
    width: 80rem;


    & > .docsContent{
        width: 100%;

        font-size: 1.6rem;

    }
}