.heroContainer{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #000;
    margin: 4rem 0;
    height: calc(100dvh - 6rem - 8rem);
        
    & > .heroContent{
        width: var(--screen-width);
        height: 100%;
        margin: 0 auto;
        /* padding: 6rem 0; */

        position: relative;

        display: flex;
        flex-direction: column;

        & > .heroTitle{
            text-align: center;
            color: white;
            font-family: Overpass;
            font-weight: 900;

            width: 65rem;
            font-size: 9.6rem;
            /* font-size: 960%; */

            margin-top: 5.5rem; 

            & > span{
                color: #00C2FF;
            }
        }

        & > .heroDescription{
            color: #FFF;
            font-family: 'Roboto';
            font-size: 2rem;
            /* font-size: 200%; */
            font-weight: 400;

            width: 65rem;

            margin-top: 4rem;
        }

        & > .heroActions{    
            margin-top: 12.5rem;
            
            width: 65rem;
            display: flex;
            justify-content: space-between;
        }
        
        & > .heroImage{
            pointer-events: none;

            position: absolute;

            top: 7rem;
            right: -10rem;

            width: 60rem;
            height: 60rem;

            background-image: url('/Robot.gif');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            box-shadow: inset 0 0 20rem black;
        }
    }
}